*{
    padding: 0;
    margin: 0;
    font-family: 'josefin sans',sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url("bg.jpeg");

}
 body{
    background-size: cover;
    background-attachment: fixed;

    background-image: linear-gradient(135deg, rgb(66, 3, 3), rgb(179, 82, 52));
 }
 nav{
filter: drop-shadow(8px 8px 4px black);
background-color: red;
height: 90px;
width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 2%;
 }
.my{
filter: drop-shadow(8px 8px 4px black);
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
    word-spacing: 6px;
    cursor: pointer;
}
.my span{
    color:  black;
}
nav ul li{
    margin-right: 50px;
filter: drop-shadow(8px 8px 4px black);
    list-style-type: none;
color: white;
display: inline-block;
padding: 0px 16px;

}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
nav ul li a:hover{
    color: black;
    transition: .4s;
}

.hy{
filter: drop-shadow(8px 8px 4px black);
width: 100%;
display: flex;
}
.img img{
 
 margin-top: 68%;
margin-left: 250%;
background-size: cover;
filter: drop-shadow(8px 8px 4px black);
justify-content: space-around
}
.content{
   
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
span{
    color: rgb(233, 71, 71);
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;

}
.newslatter form{
    width: 100%;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 35px;
    border: 2px solid red;
    border-radius: 30px;
}
.newslatter form input:last-child{
    
    position: absolute;
    display: inline-block;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: red;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 4px;
    right: 6px;

}

.section{
    width: 100%;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 5px red, 0px 0px 15px #858585;
    

}
/*---------about----------*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 45%;

}
.about-col-1 img{
width: 100%;
border-radius: 15px;
}
.about-col-2 {
    flex-basis: 60%;

}
 .sub-titile{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
 } 
 .tab-titile{
    display: flex;
    margin: 20px 0 40px;

 }
 .tab-links{
    margin-right: 50px;
    font-size: 35px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

 }
 .tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: black;
    position:absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

 }
 .tab-links.active-link::after{
    width: 40px;


 }
 .tab-contents ul li{
    list-style: none;
    margin: 10px 0;


 }
 .tab-contents ul li span{
    color:  black;
    font-size: 50px;
    
 }
 .tab-contents{
    display: none;
 }

 .tab-contents.active-tab{
    display: block;

 }
  

  
@media only screen and (max-width: 600px) {
    
    body{
        width: 100%;
    }
        nav{
        width: 120%;
    }
     
    nav ul li{
        padding: 0.6px;
        margin-right: 0;
    }
    h1 {
        font-size: 2.1rem;
      
    }
    h4{
        font-size: 1rem;
    }
    h3{
        font-size: 1.3rem;
    }
    .content{
        margin-top: 0.2rem;
    }
    .img img{
        margin-right: 0%;
        margin-left: 40px;
        margin-top: 55%;
    }
    .hy{
width: 80%;
    }
    .newslatter form{
        width: 100%;
    }
   
    .about-col-1 {
        flex-basis: 35%;
    
    }
    .about-col-2 {
        flex-basis: 65%;
    
    }
     .sub-titile{
        font-size: 25px;
        font-weight: 600;
        color: #fff;
     } 
     
     .hello{
        font-size: 9px;
     }
     .tab-links{
        margin-right: 22px;
     }
     .about-col-1 img{
        margin-top: 30px;
        margin-left: 10px;
        width: 100%;
        border-radius: 15px;
        }
        .tab-links{
            
            font-size: 14px;
            
         }
         .tab-contents ul li span{
             
            font-size: 10px;
            
         }
  }
 